[user]
	name = Peter Maatman
	email = blackwolf12333@gmail.com
[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
[pull]
	rebase = true
[alias]
	recent = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname)' refs/heads
