[user]
	name = Peter Maatman
	email = blackwolf12333@gmail.com
[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
[pull]
	rebase = true
[alias]
	recent = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname)' refs/heads
	co = checkout
	last = log --no-merges master..
	fixup = commit --fixup
	amend = commit --amend
	cp = cherry-pick 
	p = push --force-with-lease
	wip = commit -a -m "wip"
	unwip = reset HEAD~1
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
[tag]
	sort = version:refname
